* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html,
body {
  width: 100%;
  height: 100%;
  list-style: none;
}

#disk {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#disk header {
  width: 100%;
  height: .34rem;
  border-bottom: .01rem solid #ccc;
  font-size: .15rem;
  display: flex;
  flex-direction: row;
  line-height: .34rem;
}

#disk header p {
  flex: 1;
  text-align: center;
}

#disk #section {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
}

#disk #section div {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
}

#disk #section div .slide {
  width: 25%;
  height: .71rem;
  height: .74rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8f8f8;
  font-size: .15rem;
  margin: .1rem;
}

#disk #section .lave {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

#disk #section .lave dl {
  width: 25%;
  height: .7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#disk #section .lave dl dt {
  width: 70%;
  height: 45%;
  background: #ccc;
}

#disk #section .lave dl dd {
  font-size: .15rem;
  text-align: center;
}

#disk .login {
  width: 100%;
  height: .7rem;
  display: flex;
  flex-shrink: 0;
  padding: 0 .05rem;
}

#disk .login img {
  width: 100%;
  height: auto;
}

#disk footer {
  width: 100%;
  height: .38rem;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
}

#disk footer span {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .25rem;
}
